@use "../utils/mixins" as mx;

.author {
  padding-top: 60px;
  padding-bottom: 60px;
}

.author-container {
  margin: 0 auto;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;

  margin-bottom: 35px;
}

.author-image {
  width: 321px;
  height: 435px;
  margin: 0 auto;
}

.author-image.desktop {
  display: none;
}

.author-title-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  margin-bottom: 18px;
}

.author-title {
  color: #101010;
  text-align: center;
  font-family: "Futura PT";
  font-size: 40px;
  font-style: normal;
  font-weight: 300;
  line-height: 80%; /* 96px */
  letter-spacing: -3.2px;
  text-transform: uppercase;

  margin-bottom: 5px;
}

.author-subtitle {
  font-family: "Futura PT";
  text-align: center;
  font-size: 67px;
  font-style: normal;
  font-weight: 600;
  line-height: 80%; /* 102.4px */
  letter-spacing: -5.12px;
  text-transform: uppercase;

  background: linear-gradient(90deg, #4a81ef 0%, #7db1ff 50%, #4a81ef 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.auhtor-name {
  display: flex;
  align-items: center;
  justify-content: center;

  color: #4b82ef;
  font-family: "Futura PT";
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%; /* 48px */
  text-transform: uppercase;

  padding: 15px;

  border-radius: 7px;
  border: 1px solid #71a2ff;

  width: 260px;
  height: 46px;

  margin-bottom: 15px;
  margin-left: auto;
  margin-right: auto;
}

.auhtor-list {
  display: flex;
  flex-direction: column;
  justify-content: center;

  padding-left: 25px;
  width: 285px;
  margin: 0 auto;
}

.author-item {
  color: #101010;
  font-family: "Futura PT";
  font-size: 15px;
  font-style: normal;
  font-weight: 300;
  line-height: 120%; /* 38.4px */
}

.author-desc-container {
  padding: 20px;
  width: 345px;

  margin: 0 auto;

  border-radius: 20px;
  border: 1px solid #71a2ff;

  margin-bottom: 25px;
}

.author-desc-title {
  color: #4b82ef;
  text-align: center;
  font-family: "Futura PT";
  font-size: 15px;
  font-style: normal;
  font-weight: 600;
  line-height: 100%; /* 38px */
  letter-spacing: -0.76px;
  text-transform: uppercase;

  margin-bottom: 10px;
}

.author-desc-text {
  color: #101010;
  text-align: center;
  font-family: "Futura PT";
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 100%; /* 36px */
  letter-spacing: -0.72px;
}

.author-cite {
  color: #c1c1c1;
  text-align: center;
  font-family: "Futura PT";
  font-size: 18px;
  font-style: normal;
  font-weight: 300;
  line-height: 90%; /* 43.2px */
  letter-spacing: -0.36px;
  max-width: 279px;
  margin: 0 auto;
}
