.bonus {
  padding-bottom: 60px;
}

.bonus-container.last {
  margin-bottom: 30px;
}

.bonus-title {
  color: #ffc73a;
  text-align: center;
  font-family: "Bebas Neue Cyrillic";
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.64px;

  margin-bottom: 2px;
}

.bonus-desc {
  color: #101010;
  text-align: center;
  font-family: "Futura PT";
  font-size: 16px;
  font-style: normal;
  font-weight: 450;
  line-height: 100%; /* 16px */

  span {
    font-weight: 400;
  }
}

.bonus-image {
  margin: 0 auto;
  margin-bottom: 10px;
}

.countdown {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.countdown-time {
  display: block;
  color: #6e9af3;
  text-align: center;
  font-family: "Futura PT";
  font-size: 28px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.56px;
  width: 70px;
}

.countdown-doubledot {
  content: "";
  display: flex;
  height: 25px;
  width: 1px;
  background: #6e9af3;
  margin: 0 auto;
}
