@use "../utils/mixins" as mx;

.header {
  position: relative;

  padding: 20px 0 30px 0;

  background-image: url(/src/img/header/header-mobile-background-1x.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  max-width: 428px;
  margin: 0 auto;
}

@media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .header {
    background-image: url(/src/img/header/header-mobile-background-2x.jpg);
  }
}

.header-start {
  display: block;
  color: #dff1ff;
  font-family: "Futura PT";

  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: 100%; /* 28px */
  letter-spacing: -0.56px;
  text-transform: uppercase;

  margin-bottom: 10px;
}

.format-wrapper {
  display: inline-block;

  padding: 10px;
  border-radius: 7px;
  border: 1px solid #fff;
  background: rgba(0, 0, 0, 0.2);
  margin-bottom: 20px;

  .format-text {
    color: #fff;
    font-family: "Futura PT";
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 100%;
    letter-spacing: -0.48px;

    span {
      color: #ffd676;
      font-family: "Futura PT";
      font-size: 14px;
      font-style: normal;
      font-weight: 450;
      line-height: 100%; /* 28px */
      letter-spacing: -0.56px;
      text-transform: uppercase;
    }
  }
}

.header-first-container {
  max-width: 344px;
  margin-left: auto;
  margin-right: auto;
}

.header-title-container {
  margin-bottom: 288px;
}

.header-title {
  color: #fff;
  font-family: "Bebas Neue Cyrillic";
  font-size: 28px;
  font-style: normal;
  font-weight: 400;
  line-height: 90%;
}

.header-subtitle {
  font-family: "Bebas Neue Cyrillic";
  font-size: 33px;
  font-style: normal;
  font-weight: 400;
  line-height: 100%;

  background: linear-gradient(90deg, #eaa800 0%, #ffeb80 50%, #eaa800 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.header-price {
  color: #dff1ff;
  text-align: end;
  font-family: "Futura PT";
  font-size: 24px;
  font-style: normal;
  font-weight: 450;
  line-height: 100%; /* 24px */
  letter-spacing: -0.48px;

  span {
    font-weight: 300;
    text-decoration: line-through;
  }
}

.advantages-container {
  width: 345px;
  margin: 0 auto;
}

@media screen and (min-width: 1000px) {
  .advantages-container {
    width: 405px;
    margin: 0 0;
  }
}

.advantages-list {
  display: flex;
  flex-wrap: wrap;

  grid-row-gap: 10px;
  grid-column-gap: 5px;

  margin-bottom: 15px;
}

.advantages-item {
  position: relative;

  display: flex;
  align-items: center;
  justify-content: center;

  width: 100%;

  color: #101010;
  text-align: center;
  font-family: "Futura PT";

  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  line-height: 100%; /* 22px */
  letter-spacing: -0.44px;

  padding: 10px;
  border-radius: 10px;
  background: #fff0c9;
  backdrop-filter: blur(10px);

  height: 47px;
}

.advan-image {
  position: absolute;
  left: 50%;
  top: -20%;
  width: 26px;
  height: 26px;

  transform: translate(-50%);
}

.header-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;

  color: #fff;
  text-align: center;
  font-family: "Futura PT";
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 100%; /* 22px */
  letter-spacing: -0.44px;
  text-transform: uppercase;

  padding: 18px;
  height: 44px;
  border-radius: 10px;
  background: linear-gradient(90deg, #4a81ef 0%, #7db1ff 50%, #4a81ef 100%);
}
