@use "../utils/mixins" as mx;

.personal {
  @include mx.adaptive("padding-top", 160, 86, 0);
  @include mx.adaptive("padding-bottom", 150, 78, 0);
}

.personal-wrapper {
  position: relative;

  padding: 30px 10px;

  background: #dff1ff;
  border-radius: 20px;

  @include mx.adaptive("width", 1382, 345, 0);

  margin: 0 auto;
}

.personal-image-container {
  @media screen and (min-width: 768px) {
    @include mx.adaptive("left", 64, 32, 0);
  }
}

.personal-author {
  @include mx.adaptive("width", 507, 264, 0);
  @include mx.adaptive("height", 507, 264, 0);

  margin: 0 auto;
}

.personal-text-container {
  @include mx.adaptive("width", 680, 288, 0);
  margin: 0 auto;
}

@media screen and (min-width: 1000px) {
  .personal-wrapper {
    @include mx.adaptive("padding-top", 104, 30, 0);
    @include mx.adaptive("padding-bottom", 103, 30, 0);

    display: flex;
    flex-direction: row-reverse;
    align-items: center;

    @include mx.adaptive("width", 1382, 445, 0);
    @include mx.adaptive("height", 558, 255, 0);
  }

  .personal-image-container {
    position: absolute;
    left: 0;
    @include mx.adaptive("left", 30, 0, 0);
    bottom: 0;
  }

  .personal-author {
    @include mx.adaptive("width", 507, 214, 0);
    @include mx.adaptive("height", 507, 214, 0);

    margin: 0 0;
  }

  .personal-text-container {
    position: absolute;
    @include mx.adaptive("top", 104, 55, 0);
    @include mx.adaptive("right", 80, 10, 0);
    @include mx.adaptive("width", 720, 268, 0);
    margin: 0 auto;
  }
}

.personal-title {
  color: #4b82ef;
  text-align: center;
  font-family: "Bebas Neue Cyrillic";
  @include mx.adaptive("font-size", 80, 32, 0);
  font-style: normal;
  font-weight: 400;
  line-height: 90%;
  @include mx.adaptive("letter-spacing", -1.6, -0.5, 0);

  @include mx.adaptive("margin-bottom", 10, 5, 0);
}

.personal-desc {
  text-align: center;
  color: #101010;
  font-family: "Futura PT";
  @include mx.adaptive("font-size", 45, 18, 0);
  font-style: normal;
  font-weight: 450;
  line-height: 100%; /* 45px */

  margin-bottom: 10px;
}

.personal-btn.desktop {
  display: none;
}

.personal-btn {
  position: relative;
  display: block;
  color: #fff;
  text-align: center;
  font-family: "Futura PT";
  @include mx.adaptive("font-size", 22, 11, 0);
  font-style: normal;
  font-weight: 500;
  line-height: 100%; /* 22px */
  letter-spacing: -0.44px;
  text-transform: uppercase;

  @include mx.adaptive("padding", 30, 15, 0);
  border-radius: 10px;
  background: linear-gradient(90deg, #4a81ef 0%, #7db1ff 50%, #4a81ef 100%);
  @include mx.adaptive("width", 309, 271, 0);
  margin: 0 auto;
  @include mx.adaptive("height", 75, 39, 0);
}

@media screen and (min-width: 1000px) {
  .personal-btn.mobile {
    display: none;
  }

  .personal-btn.desktop {
    display: block;
    margin: 0 0;
  }

  .personal-title {
    text-align: left;
  }

  .personal-desc {
    text-align: left;
    margin-bottom: 20px;
  }
}
